
  h1 {
            font-weight: bold;
        }

        body {
            min-height: 100vh;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: flex;
            background-color: antiquewhite;

            }

footer {
    background-color: rgb(244, 213, 13);
    height: 5%;
}

header{
    background-color: aqua;
    height: 5%;
    margin:0%;
}

#root{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

